/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* added css */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}

.top-nav {
    display: flex;
    align-items: center;
}

.top-nav p {
    text-decoration: none;
    padding: 0 25px 0 25px;
    margin-right: 30px;
    
}

.top-nav p a {
    text-decoration: none;
    color: black;
}

.header-index {
    margin-bottom: 20px;
}

#box-1 {
    background-color: teal
}

#box-2 {
    background-color: gold  
}

#box-3 {
    background-color: cadetblue  
}

#box-4 {
    background-color: coral
}

#box-5 {
    background-color: crimson
}

#box-6 {
    background-color: forestgreen
}

#box-7 {
    background-color: darkorchid
}

#box-8 {
    background-color: hotpink
}

#box-9 {
    background-color: indigo
}

#box-10 {
    background-color: dodgerblue
}


/* about page */
.header-about {
    margin-bottom: 20px;
}


.top-about {
    border-bottom: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.text-about {
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}

.middle-about {
    padding: 0 20px 0 20px;
}

.top-two {
    display: flex;
}

.bottom-two {
    display: flex;
    width: 100%;
}

#box-about-1 {
    margin-right: 10px;
}

#box-about-2 {
    margin-left: 10px;
}

#box-about-3 {
    margin-right: 10px;
}

#box-about-4 {
    margin-left: 10px;
}

.boxes-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-about {
    border-bottom: 1px dashed black;
    margin-bottom: 20px;
}

.box-about p {
    margin-bottom: 20px;
}

.box-about img {
    margin-bottom: 20px;
}

#button-about {
    border: solid black 1px;
    border-radius: 4px;
    padding: 5px 25px 5px 25px;
    margin-bottom: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

.bottom-about {
    margin: 20px 0 40px 0;
    padding: 0 20px 0 20px;
}

/*contact page */
.header-contact img {
    display: flex;
    width: 800px;
    margin-bottom: 20px;

}

.top-content-contact {
    border-bottom: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}

.top-content-contact p {
    margin-bottom: 20px;
}

/* animations */
.top-nav :hover {
    animation: changeColor 2s infinite;
    cursor: pointer;
}

@keyframes changeColor {
    0% {
        background-color: white;
    }

    100% {
        background-color: black;
        color: white;
    }
}

/* media query */

@media (max-width:600px) {
    .boxes-about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


/* contact form*/

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}